<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        header.main {
            background-color: #eee;
        }

        header .notify {
            background-color: blue;
            color: #eee;
        }

        #login .btn {
            display: inline-block;
            margin: 1vh 1vw;
        }
    </style>
</head>

<body>
    <div id="app">

        <header class="main">
            <h1>
                {{ app_name }}
            </h1>

            <div class="notify"> --&gt; {{notify}}</div>
        </header>

        <!-- login -->
        <div id="login" v-if="user.status === 0">
            <div>
                输入用户:<input type="text" name="username" v-model="user.username">
            </div>
            <div>
                <button v-on:click="login">确定</button>
            </div>
        </div>

        <!-- /login -->

        <!-- join_room -->
        <div id="join_room" v-if="user.status === 1 && room.status === 0">
            <div>
                加入房间:<input type="text" name="roomname" v-model="room.roomname">
            </div>
            <div>
                <button v-on:click="join_room">确定</button>
            </div>
        </div>
        <!-- /join_room -->

        <!-- room_view -->
        <div id="room_view" v-if="room.status === 1">
            <div id="localtracks"></div>
            <div id="remotetracks"></div>
            <div class="controllers">
                发送消息:<input type="text">
                <button>发送</button>
                <button v-on:click="autoSubscribe()">订阅</button>
                <button v-on:click="unsubscribeAll()">取消订阅</button>
                <button v-on:click="publish()">发布/取消发布</button>

            </div>
        </div>
        <!-- /room_view-->
    </div>
</body>
<script src="./js/main.js"></script>
<script>
    var app = new Vue({
        // 选项
        el: '#app',
        data: {
            app_name: '多人音视频',
            notify: '',
            room: {
                roomname: null,
                status: 0,
            },
            user: {
                username: null,
                status: 0,
            }
        },
        methods: {
            login: async function () {
                const username = this.user.username
                const response = await fetch(`${auth_server_host}?user_id=${username}`)
                // todo 异常处理
                const data = await response.json()
                const token = data.token
                this.notify = '获得TOKEN成功'

                // get token
                try {
                    await webSocketRpcClient.connection(`${sign_server_host}?token=${token}`)
                } catch (error) {
                    this.notify = '登录失败'
                    return
                }

                this.user.status = 1
                this.notify = '登录成功'
                console.log(this.user.username + ' login success')
            },

            join_room: async function () {
                console.log('join room:' + this.room.roomname)

                const username = this.user.username
                const roomname = this.room.roomname

                if (username == '' || roomname == '') {
                    alert('用户或者房间名为空')
                    return
                }

                console.log(`${username} join room:`)

                const { roomToken } = await webSocketRpcClient.send({
                    method: 'getRoomToken',
                    params: {
                        username,
                        roomname
                    }
                }, true)

                console.log(roomToken)

                const myRoom = await joinRoomWithToken('track', roomToken)
                this.room.myRoom = myRoom
                console.log('room', myRoom)
                console.log('join room success')
                this.notify = '进入房间:' + this.room.roomname
                this.room.status = 1

                // try {
                //     await publish(myRoom)
                // } catch (error) {
                //     console.log(error)
                //     alert(error)
                // }
            },

            // 这里的参数 myRoom 是指刚刚加入房间时初始化的 Session 对象, 同上
            // trackInfoList 是一个 trackInfo 的列表，订阅支持多个 track 同时订阅。
            subscribe: async function (trackInfoList) {
                // 通过传入 trackId 调用订阅方法发起订阅，成功会返回相应的 Track 对象，也就是远端的 Track 列表了
                const remoteTracks = await this.room.myRoom.subscribe(trackInfoList.map(info => info.trackId));

                // 选择页面上的一个元素作为父元素，播放远端的音视频轨
                const remoteElement = document.getElementById("remotetracks");
                // 遍历返回的远端 Track，调用 play 方法完成在页面上的播放
                for (const remoteTrack of remoteTracks) {
                    remoteTrack.play(remoteElement);
                }
            },

            unsubscribeAll: async function() {
                const trackInfoList = this.room.myRoom.trackInfoList;
                await this.room.myRoom.unsubscribe(trackInfoList.map(info => info.trackId));
            },

            // 这里的参数 myRoom 是指刚刚加入房间时初始化的 Session 对象, 同上
            autoSubscribe: function () {
                const trackInfoList = this.room.myRoom.trackInfoList;
                console.log("room current trackInfo list", trackInfoList)

                // 调用我们刚刚编写的 subscribe 方法
                // 注意这里我们没有使用 async/await，而是使用了 Promise，大家可以思考一下为什么
                this.subscribe(trackInfoList)
                    .then(() => console.log("subscribe success!"))
                    .catch(e => console.error("subscribe error", e));

                // 添加事件监听，当房间中出现新的 Track 时就会触发，参数是 trackInfo 列表
                this.room.myRoom.on("track-add", (trackInfoList) => {
                    console.log("get track-add event!", trackInfoList);
                    this.subscribe(trackInfoList)
                        .then(() => console.log("subscribe success!"))
                        .catch(e => console.error("subscribe error", e));
                });
                // 就是这样，就像监听 DOM 事件一样通过 on 方法监听相应的事件并给出处理函数即可
            },

            // 这里的参数 myRoom 是指刚刚加入房间时初始化的 Session 对象
            publish: async function () {
                const myRoom = this.room.myRoom
                console.log('publish start:')
                // 我们打开了 3 个参数，即采集音频，采集视频，采集屏幕共享。
                // 这个函数会返回一个列表，列表中每一项就是一个音视频轨对象
                const localTracks = await QNRTC
                    .deviceManager
                    .getLocalTracks({
                        audio: {
                            enabled: true,
                            tag: "audio"
                        },
                        video: {
                            enabled: true,
                            tag: "video"
                        },
                        // screen: { enabled: true, tag: "screen" },
                    });
                console.log("my local tracks", localTracks);
                // 将刚刚的 Track 列表发布到房间中
                await myRoom.publish(localTracks);
                console.log("publish success!");

                // 在这里添加
                // 获取页面上的一个元素作为播放画面的父元素
                const localElement = document.getElementById("localtracks");
                // 遍历本地采集的 Track 对象
                for (const localTrack of localTracks) {
                    // 如果这是麦克风采集的音频 Track，我们就不播放它。
                    if (localTrack.info.tag === "audio")
                        continue;

                    // 调用 Track 对象的 play 方法在这个元素下播放视频轨
                    localTrack.play(localElement, true);
                }
            }
        }
    })

    window.onload = function () {
        if (typeof vConsole !== undefined) {
            const vconsole = new vConsole()
        }
    }
</script>

</html>