<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        header.main {
            background-color: #eee;
        }

        #login .btn {
            display: inline-block;
            margin: 1vh 1vw;
        }
    </style>
</head>

<body>
    <div id="app">

        <header class="main">
            <h1>
                {{ app_name }}
            </h1>
        </header>

        <!-- login -->
        <div id="login" v-if="user.status === 0">
            <div>
                输入用户:<input type="text" name="username" v-model="user.username">
            </div>
            <div>
                <button v-on:click="login">确定</button>
            </div>
        </div>

        <!-- /login -->

        <!-- join_room -->
        <div id="join_room" v-if="user.status === 1 && room.status === 0">
            <div>
                加入房间:<input type="text" name="roomname" v-model="room.roomname">
            </div>
            <div>
                <button v-on:click="join_room">确定</button>
            </div>
        </div>
        <!-- /join_room -->
    </div>
</body>
<script src="./js/main.js"></script>
<script>
    var app = new Vue({
        // 选项
        el: '#app',
        data: {
            app_name: '多人音视频',
            room: {
                roomname: null,
                status: 0,
            },
            user: {
                username: null,
                status: 0,
            }
        },
        methods: {
            login: async function () {
                const token = ''
                try {
                    await webSocketRpcClient.connection(`${sign_server_host}?token=${token}`)
                } catch (error) {
                    alert('登录失败')
                    return
                }

                this.user.status = 1
                console.log(this.user.username + ' login success')
            },
            join_room: function () {
                console.log('join room:' + this.room.roomname)
                this.room.status = 1
            },
        }
    })

    window.onload = function () {
        if (typeof vConsole !== undefined) {
            const vconsole = new vConsole()
        }
    }
</script>

</html>